.dropdown{
    max-width: 70vw;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    
   
   
}
 .dropdown-btn{
    display: flex;
    text-align: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
   
  
    
}
.dropdown-icon-primary{
    
    margin-right: 12px;
    color: blueviolet;
    margin-left: auto;
    
}
.dropdown-icon-secondary {
     color: blueviolet;
     display: flex;
  }
.dropdown-menu{
   position: absolute; 
   width: 200px;
   height: auto;
   padding-top: 10px;
   
    
}
.dropdown-menu li {
    font-size: 25px;
   list-style: none;
   padding: 5px;
}
